{# Base template #}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>{{ page.title }} | {{ site.title }}</title>

        <!-- font imports -->
        <link href='http://fonts.googleapis.com/css?family=Orbitron:700,900&v2'
                rel='stylesheet' type='text/css'>

        <!-- base CSS includes -->
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>

        <link rel="icon" href="/img/uber_favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/img/uber_favicon.ico" type="image/x-icon">

        <!-- JavaScript -->
        <script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript">
            $(function(){
                // Document ready
                function menu_highlight(menu_id){
                    $("#menu #"+menu_id).addClass('selected');
                }
            
                {% block js_doc_ready %}{% endblock %}
            });

            // Google Analytics stuffs
            // nuked
        </script>

        {% block head %}{% endblock %}
    </head>

    <body>
        <div id='body_wrapper'>

            <!-- Header -->
            <div id="header">
                <h1 id='title'>
                    <a href='/'>
                        Music & Uber
                    </a>
                </h1>

                <div id='menu'>
                    <a id='home'    href='/'>Home</a>
                    <a id='music'    href='/music.html'>Music</a>
                    <!--<a id='code' href='/code'>Code</a>-->
                    <a id='about'   href='/about'>About</a>
                </div>
            </div>

            <!-- Content -->
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Footer -->
            <div id="footer" class="small_text">
                <div id="about_site">
                    This site uses <a href="https://github.com/mythmon/wok">wok</a>
                </div>
                <div id="copyright">
                    &copy; Copyright <a href="http://www.uberj.com/">Jacques Uber</a>
                </div>
            </div>

        </div>
    </body>
</html>
